<?xml version="1.0"?>
<Angel_Siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Websitename>Angel工作室通用权限管理系统</Websitename>
  <Websiteurl>http://www.angelasp.com</Websiteurl>
  <Websitelogo>/upload/201408/18/201408181404280972.png</Websitelogo>
  <Websitecompany>Angel工作室</Websitecompany>
  <Websiteaddress>北京市石景山区玉泉西里远洋山水A座306 </Websiteaddress>
  <Websitetel>13800138000</Websitetel>
  <Websitefax>010-6666777</Websitefax>
  <Websitemail>Angel_asp@126.com</Websitemail>
  <Websitetitle>Angel工作室通用权限管理系统</Websitetitle>
  <Websitedescription>该系统面向软件开发者、程序爱好者、网页设计师，服务于个人、企业的网站，同时也是一个专门结合AJAX技术开发友好界面、倍受欢迎用户体验的BS模式软件系统，打造自己的品牌。</Websitedescription>
  <Websitecopyright>版权所有 Angel工作室 © Copyright 2009 - 2014 angelasp.com. All Rights Reserved.</Websitecopyright>
  <Websitepath>/</Websitepath>
  <Websiteadminpath>Admin</Websiteadminpath>
  <Islogstatus>1</Islogstatus>
  <Websitestatus>1</Websitestatus>
  <Websiteclosereason>系统正在维护中，请稍候访问……</Websiteclosereason>
  <sysdatabaseprefix>Angel_</sysdatabaseprefix>
  <sysencryptstring>AngelRM</sysencryptstring>
</Angel_Siteconfig>